<pane has-header>
  <swipe-cards ng-init="addCard()">
    <div ng-controller="CardCtrl">
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index+1)">
        <img ng-src="{{ card['Image_URL'] }}">
      </swipe-card>
    </div>
  </swipe-cards>
</pane>
<div class="cards-footer "></div>
  <div animate ng-if="!hot && !center" class="hot-or-not {{ notClass }} stylr-quick-slide">
    <h1>Gross.</h1>
  </div>
  <div animate ng-if="hot && !center" class="hot-or-not {{ hotClass }} stylr-quick-slide">
    <h1>Hott!</h1>
  </div>
<img ng-repeat="image in preloadCache track by $index" src="{{ image }}" class="preload"/>
<div ui-view></div>