<pane has-header>
<div class="level-title">{{ levelTitle }}</div>
  <swipe-cards ng-init="addCard()">
    <div ng-controller="CardCtrl">
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index+1)">
        <img ng-src="{{ card['Image_URL'] }}">
      </swipe-card>
    </div>
  </swipe-cards>
<levels level="level"></levels>
</pane>
<div class="cards-footer "></div>
<hot-or-not></hot-or-not>
<img ng-repeat="image in preloadCache track by $index" src="{{ image }}" class="preload"/>
<div ui-view></div>