<ion-view id='slide'>
  <header class="bar bar-header bar-stable">
   <h1 class="title" id="navi-header">Stylr</h1>
  </header>
<!-- <ion-nav-bar type="bar-stable" 
             animation="nav-title-slide-ios7" 
             back-button-type="button-icon button-clear" 
             back-button-icon="ion-ios7-arrow-back"></ion-nav-bar> -->
  <pane has-header ng-controller="CardsCtrl">
    <swipe-cards ng-init="cardSwiped()">
      <!-- <swipe-card ng-init="cardSwiped()" id="start-card"> -->
        <!-- Swipe down for a new card -->
      <!-- </swipe-card> -->
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
        <div ng-controller="CardCtrl">
            <img ng-src="{{card.image}}">
        </div>
      </swipe-card>
    </swipe-cards>
  </pane>
</ion-view>