<pane has-header>
  <swipe-cards ng-init="addCard()">
    <div ng-controller="CardCtrl">
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index+1)">
        <img ng-src="{{ card['Image_URL'] }}">
      </swipe-card>
    </div>
  </swipe-cards>
  <div class="bar bar-footer bar-balanced" ng-if="hot">
    <div class="title">{{ hot }}</div>
  </div>
  <div class="bar bar-footer bar-assertive" ng-if="hot">
    <div class="title">Gross!</div>
  </div>
</pane>
<img ng-repeat="image in preloadCache track by $index" src="{{ image }}" class="preload"/>
