*.keystore
*.sw*
dump
platforms/*
ref/*
.DS_Store
.sass-cache/*
node_modules/*
ignore_assets/
*.bowerrc
bower.json
stylr-server/node_modules
stylr-server/*.log
.cordova/
README.md
config.xml
plugins/
www/
