*.keystore
*.sw*
dump
platforms/*
ref/*
.DS_Store
.sass-cache/*
node_modules/*
ignore_assets/
*.bowerrc
bower.json
stylr-server/node_modules
stylr-server/*.log
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
