/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#home {
  min-height: 100%;
  background-color: #CA4D60;
}

#navi-header {
  font-family: 'Dancing Script', cursive;
  font-size: 190%;
}

.splash {
  padding-top: 40%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
}

#play {
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150%;
}

.circular {
  margin-top: 70%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../img/karl.png) no-repeat;
}