/* Your app's CSS, go crazy, make it your own */

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../lib/fonts/BebasNeue-webfont.eot');
  src: url('../lib/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('../lib/fonts/BebasNeue-webfont.woff') format('woff'),
       url('../lib/fonts/BebasNeue-webfont.ttf') format('truetype'),
       url('../lib/fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.levels {
  position: fixed;
  color: rgb(155, 25, 25);
  font-size: 20px;
  text-align: center;
  top: 89%;
  left: 0;
  right: 0;
}
.levels.hidden {
  /*margin-left: -9999px;*/
}
.level-title {
  position: fixed;
  width:96%;
  font-family: 'bebas_neueregular';
  top: 16.5%;
  font-size: 40px;
  margin-left: 0px;
  text-align: right;
  color: white;
}
.level-title.hidden {
  margin-left: 9999px;
}
.level-star {
  margin-right: 12px;
  margin-left: 12px;
}
.level-complete {
  color: white;
}
.result-text {
  color: black;
}
.result {
  width: 90%;
  height: 145px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'bebas_neueregular';
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 10px;
  margin-bottom: -35px;
  text-align: center;
}
.result p {
  font-size: 20px;
  font-family: 'bebas_neueregular';
}
.result h1 {
  line-height: 75px;
  font-size: 76px;
  font-family: 'bebas_neueregular';
  text-align: center;
}

.result h2 {
  line-height: 75px;
  font-size: 60px;
}


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#home {
  min-height: 100%;
  background-color: #CA4D60;
}

#navi-header {
  font-family: 'Dancing Script', cursive;
  font-size: 190%;
}
.preload {
  display: none;  
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  text-shadow:  rgba(0, 0, 0, 0.36) 2px 2px 4px;
  text-overflow: ellipsis;
  font-size: 15px; }
  .loading h1, .loading h2, .loading h3, .loading h4, .loading h5, .loading h6 {
    color: #fff; 
  }
.loading-backdrop.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.splash_img {
  height: 100%;
  background: url('../img/stylr-iphone5s.png') no-repeat;
  background-size: 100% auto;
}

.splash {
  padding-top: 40%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
}

.cards-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #56b9af;
}

.hot-or-not {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 70px;*/
  top: 84%;
  text-align: center;
  background-color: #56b9af;
}
.hot-or-not h1 {
  line-height: 54px;
  font-size: 100px;
  font-family: 'bebas_neueregular';
}
.hot-color h1 {
  color: white;
  text-shadow:  rgba(0, 0, 0, 0.46) 2px 2px, 
                #0A7E00 -10px -10px 25px, 
                #0A7E00 10px 10px 25px, 
                #0A7E00 10px 10px 25px, 
                #0A7E00 -14px 10px 25px,  
                #0A7E00 14px -10px 25px;
}

.not-color h1 {
  color: white;
  text-shadow:  rgba(0, 0, 0, 0.46) 2px 2px, 
                #A30000 -10px -10px 25px, 
                #A30000 10px 10px 25px, 
                #A30000 10px 10px 25px, 
                #A30000 -14px 10px 25px,  
                #A30000 14px -10px 25px;
}
.hot-white h1 {
  color: white;
  text-shadow:  rgba(0, 0, 0, 0.46) 2px 2px;
}

.not-white h1 {
  color: white;
  text-shadow:  rgba(0, 0, 0, 0.46) 2px 2px;
}
#play {
  border: none;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-size: 150%;
}

/*.circular {
  margin-top: 70%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../img/karl_fade.png) no-repeat;
}*/

.circular {
  width: 100%;
  height: 100%;
  margin-top: 260px;
  background: url(../img/sprite-karl.png) no-repeat;
  background-position: 0 -358px;
}
.circular-tap {
  background-position: 0 0;
}

.vert-top-third {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.sf-icon {
  display: inline-block;
  width:50px;
  height: 50px;
  margin-right: 0px;
  margin-left: auto;
  float:left;
  background-size: contain;
  background-image: url(../img/stitch-fix-icon.png);
  background-position: 0px;
}

.button-get-your-fix > span:nth-child(2){
    margin-right: 15%;
}

.button-fb {
  background-color: #3B5998;
  border-radius: 4px;
  border: 1px solid #3B5998; 
}

.button.button-fb.active, .button.button-fb:active {
  background-color: #25375D;
  /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);*/
  border: 1px solid #3B5998;
}
.button.button-fb.ng-leave {
  -webkit-animation-name: fadeOut;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;  
}
.button-get-your-fix {
  padding-top: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
.button-results {
  width: 220px;
  height: 60px;
  margin: 5px auto;
  border-radius: 4px;
}
.button-play-again {
  background-color: rgb(240, 159, 65);
  border: 0px solid black;
  margin-bottom: 5px;
}
.result-buttons {
  margin-top: 15%;
}
.result-buttons.row {
  padding: 0;
}

.pane {
  /*background-color: #CA4D60;*/
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}



.swipe-cards {
  position: fixed;
}

.swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  -webkit-transform: rotateZ(360deg);
  left: 50%;
  top: 55%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  border: 2px solid rgb(231, 145, 159);
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  /*background-color: #30BD8A;*/
  background: transparent;
  line-height: 300px;
  word-wrap: break-word;
  /*border: 6px solid #4CD68E;*/
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
.popup {
  visibility: hidden;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 30%;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  
}

.popup-showing.active {
  visibility: visible;
  -moz-animation-name: dropDown;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.4s;

  -webkit-animation-name: dropDown;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
}

.popup p {
  margin: 0 auto;
  width: 90%;
  text-align: justify;
}

.popup-hidden {
  top: 0%;
  left: 50%;
  width: 80%;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  margin-left: 0; 
  margin-top: 0; 

  -moz-animation-name: raiseUp;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.3s;

  -webkit-animation-name: raiseUp;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;

  -moz-animation-name: backDropIn;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.2s;

  -webkit-animation-name: backDropIn;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.2s;

}

.popup-backdrop-hidden {
  background-color: rgba(0, 0, 0, 0.0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  -moz-animation-name: backDropOut;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.5s;

  -webkit-animation-name: backDropOut;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
}

.stylr-fade {
  -moz-animation-name: fadeIn;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 0.1s;

  -webkit-animation-name: fadeIn;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.1s;
}

.stylr-quick-slide {
  -webkit-animation-name: slideUp;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.05s;
}

.stylr-quick-slide.hidden {
  -webkit-animation-name: slideDown;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.05s;
}

.stylr-fade3 {

  -moz-animation-name: fadeIn;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 0.3s;

  -webkit-animation-name: fadeIn;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
}
.stylr-slide-left {
  -webkit-animation-name: slideLeft;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.4s;
}
.stylr-slide-left.hidden {
  -webkit-animation-name: slideLeftOut;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  /*-webkit-animation-delay: 0.2s;*/
  -webkit-animation-duration: 1.4s;
}
.stylr-slide-right {

  -webkit-animation-name: slideRight;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  /*-webkit-animation-delay: .4s;*/
  -webkit-animation-duration: 1s;
}
.stylr-slide-right.hidden {
  -webkit-animation-name: slideRightOut;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
}

  @-webkit-keyframes dropDown {
    0% {
      top: 0;
    }

    100% {
      top: 30%;
    }
  }

  @-webkit-keyframes raiseUp {

    0% {
      top: 30%;
    }

    100% {
      top: 0;
    }
  }

  @-moz-keyframes backDropIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 0.7;
      }
  }
  @-webkit-keyframes backDropIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 0.7;
      }
  }
  @-moz-keyframes backDropOut {
      0% {
          opacity: 0.7;
      }
      100% {
          opacity: 0;
      }
  }
  @-webkit-keyframes backDropOut {
      0% {
          opacity: 0.7;
      }
      100% {
          opacity: 0;
      }
  }

  @-webkit-keyframes slideLeft {
      0% {
          margin-left: 120px;
      }
      70% {
          margin-left: -10px;
      }
      100% {
          margin-left: 0px;
      }
  }
  @-webkit-keyframes slideLeftOut {
      0% {
          margin-left: 0px;
      }
      100% {
          margin-left: 9999px;
      }
  }
  @-webkit-keyframes slideRight {
      0% {
          margin-left: -9999px;
      }
      70% {
          margin-left: 30px;
      }
      100% {
          margin-left: 0px;
      }
  }
  @-webkit-keyframes slideRightOut {
      0% {
          margin-left: 0px;
      }
      100% {
          margin-left: -9999px;
      }
  }
  @-moz-keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1.0;
      }
  }
  @-webkit-keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1.0;
      }
  }
  @-moz-keyframes fadeOut {
      0% {
          opacity: 1.0;
      }
      100% {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeOut {
      0% {
          opacity: 1.0;
      }
      100% {
          opacity: 0;
      }
  }

  @-webkit-keyframes slideUp {
      0% {
          visibility: hidden;
          top: 100%;
      }
      100% {
          visibility: visible;
          top: 86%;
      }
  }

  @-webkit-keyframes slideDown {
      0% {
          visibility: visible;
          top: 86%;
      }
      100% {
          visibility: hidden;
          top: 100%;
      }
  }
  
